.form {
    margin: 20px auto;
    width: 400px;
    border: 1px solid #f2f2f2;
}

input, button {
    padding: 5px;
    margin: 10px 0;
}

textarea{
    resize: none;
    width: 100%;
    height: 100px;
    padding: 5px;
}
.comments {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    background-color: #ffffff;

}

span {
    margin: 5px;
    text-align: left;
}

.comment-div {
    border-radius: 5px;
    padding: 8px 5px;
    margin: 10px 0;
    border: 1px solid #b9b9b9;
    background-color: #f2f2f2;
}

i {
    color: #000aff;
}
